.artists-masonry{
  @media (max-width: @screen-sm-min) {
    padding: 20px;
  }
}
.artist-card {
  min-width: 200px;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: transparent;
  .header-container{
    background: linear-gradient(104.73deg, #B388F5 0%, #032747 100%);
    height: 160px;
  }
  .ant-card-cover{
    position: initial;
    img{
      width: 100%;
      border-radius: 0;

    }
  }
  .ant-card-body{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 100px;
    display: flex;
    align-items: center;
    background-color: #031D44;
    padding: 15px;
    margin-top: -15px;
    position: relative;
  }

  .ant-avatar {
    width: 64px;
    height: 64px;
  }

  .artist-card-name {
    font-size: 20px;
    font-weight: 600;
    padding: 24px;
  }
}

.artist-card img {
  border-radius: 50%;
  cursor: pointer;
}
