p {
  color: #858585;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
}

.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0 8px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  vertical-align: middle !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 36px 8px 20px;
}
.ant-modal-content {
  border-radius: 5px;
}
.phantom-button {
  background: white !important;
  color: black !important;
}
