.open-master-record {
  padding: 10px;
  margin: 5px;
  background-color: silver;
  border-radius: 5px;
  margin-top: 30px;
}
.limited-master-record {
  padding: 10px;
  margin: 5px;
  background-color: gold;
  border-radius: 5px;
  margin-top: 30px;
}

.normal-record {
  margin-top: 30px;
}

.art-card {
  min-width: 200px;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.1));
  border-radius: 5px;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .ant-card-body {
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;

    /* gradients/metal */
    background: #031d44;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 8px 8px;
  }

  .edition-badge {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin: 0;
    color: @grey-20;
    background-color: transparent;
  }

  .ant-card-meta-title {
    color: @accent-color;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    min-height: 55px;
    max-width: 270px;
  }

  .ant-card-meta {
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
  }

  .ant-image {
    display: block;
  }

  .art-content {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: @grey-60;
      border-radius: 5px;
      width: 100%;
      min-height: 65%;
      overflow: hidden;
      padding: 18px;

      .ant-image {
        filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.2));

        img {
          max-width: 240px;
          width: 100%;
        }
      }
    }
  }
}

.art-card-for-selector,
.art-create-card {
  height: auto;
}

.small {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.cd-container {
  background: linear-gradient(270deg, #4287f5 7.29%, #2c68c7 100%);
  box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 0px 0px 8px 8px;
  margin-top: 20px;
  padding: 24px;
}

.cd-title {
  color: rgba(255, 255, 255, 0.7);
}

.cd-time {
  color: white;
}
