@import './components/RedeemModal/index.less';
@import './components/ArtCard/index.less';

@scrollbar-color: #2c2c2c;

.pack-view {
  &__sidebar-container {
    position: relative;
  }

  &__list {
    display: flex;
    flex-flow: wrap;

    padding: 48px;
  }

  &__sidebar {
    padding: 48px 24px;

    h4 {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 50px;
      color: white;
      font-family: @fontFamilyInter;
    }
  }

  &__title {
    color: @grey-20;
    font-family: @fontFamilyGraphik;
  }

  &__text {
    color: @white;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  &__description-block {
    margin: 20px 0 150px;
  }

  .divider {
    background-color: @grey-50;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  &__owner {
    .item-title {
      text-transform: uppercase;
      color: @grey-20;
      margin-bottom: 10px;
    }
    .item-name {
      color: @accent-color;
      font-size: 16px;
      margin-left: 15px;
    }
  }
  &__info {
    display: flex;
    margin-bottom: 40px;
    flex-direction: row;
    justify-content: space-between;
    .info-item {
      &__title,
      h6 {
        font-size: 14px;
        font-weight: normal;
        margin: 0 0 16px 0;
        text-transform: uppercase;
        color: @grey-20;
        white-space: nowrap;
        opacity: 1;
      }
      &__value {
        color: @accent-color;
        font-weight: bold;
      }

      &:first-child {
        border-right: 1px solid @grey-50;
        padding-right: 24px;
      }
    }
  }

  &__art-preview {
    width: 100%;
    max-width: 187px;
    margin: 30px 0;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: @grey-70;
    border-radius: 5px;
    padding: 24px;

    .price {
      display: flex;
      flex-direction: column;

      & > p {
        margin: 0 0 5px 0;
        font-size: 14px;
        line-height: 14px;
      }

      &__info {
        display: flex;
        align-items: center;

        p {
          margin: 0 0 0 8px;
          color: white;
          font-size: 14px;

          &.info-sol {
            margin: 0;
            font-weight: bold;
            font-size: 24px;
            font-family: @fontFamilyInter;
          }
        }
      }
    }
  }

  &__buy-now {
    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    background: @metaplex-primary-color;
    border-radius: 5px;
    border: none;
    height: 56px;

    span {
      display: block;
      font-size: 16px;
      font-weight: 600;
      font-family: @fontFamilyGraphik;
      color: @black-100;
      padding: 0 20px;
    }
  }

  .open-pack {
    width: calc(33% - 48px);
    max-width: 400px;
    padding: 24px;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    background-color: @grey-70;

    & button {
      background-color: @metaplex-primary-color !important;
      color: @black-100;
      width: 100%;
      border-radius: 5px;
    }
    &__title {
      margin-bottom: 20px;
      color: @grey-20;
    }
  }

  @media (min-width: @mobile-xs-min) {
    &__info-mobile,
    .you-label {
      display: none;
    }
  }

  @media (max-width: @mobile-xs-max) {
    .ant-row {
      flex-direction: column-reverse;
    }

    .ant-col-md-16 {
      width: 100%;
    }

    &__list {
      padding: 32px 24px;
      flex-direction: column;

      & > div {
        width: 100%;
        margin: 0 0 32px;
      }
    }

    .open-pack {
      position: static;
      margin: 0 8px;
      width: calc(100% - 16px);
      max-width: none;
      padding: 16px;

      &__title {
        color: @accent-color;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
      }
    }

    &__sidebar {
      padding: 0;
      border-top: 1px solid @grey-50;

      & > .ant-divider {
        display: none;
      }
    }

    &__owner {
      padding: 16px 24px;

      & > div {
        display: flex;
        align-items: center;
      }

      .item-title {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 8px;
      }

      .you-label {
        margin-left: 8px;
        padding: 9px 16px;
        background: @grey-60;
        border-radius: 36px;

        font-family: @fontFamilyInter;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: @grey-20;
      }
    }

    &__art-preview {
      max-width: 100%;
      margin: 0 0 30px;

      .ant-image-img {
        border-radius: 0;
      }
    }

    &__name {
      padding: 0 24px;
    }

    &__info {
      padding: 0 24px;
      justify-content: flex-start;
      margin-bottom: 24px;

      .info-item {
        padding-right: 30px;

        &__title {
          margin-bottom: 0;
        }

        &__value {
          font-size: 18px;
          line-height: 24px;
        }

        &:first-of-type {
          border: none;
        }

        &:last-of-type {
          display: none;
        }
      }
    }

    &__info-mobile {
      padding: 0 24px;

      .ant-divider {
        margin-top: 30px;
      }
    }

    &__description-block {
      margin: 34px 0 24px;
      padding: 0 24px;
    }
  }
}

.ant-modal-body {
  padding: 0;
  border-radius: 5px;

  @media (max-width: @mobile-xs-max) {
    border-radius: 0 !important;
  }
}
