.art-title {
  margin-top: 44px;
  margin-bottom: 44px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 48px;
  @media (max-width: 375px) {
    margin-top: 0;
    font-size: 2.8rem;
  }
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.auction-view {
  .ant-skeleton-image {
    min-width: 300px;
    min-height: 300px;

    display: flex !important;
  }
}

.image-stack {
  padding: 0;
  position: relative;
  max-width: 100%;

  .stack-item {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline: 1px solid transparent;
  }
}

h6 {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;

  color: #FFFFFF;
  opacity: 0.5;
}
.info-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  div.info-component {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 24px;
    padding-left: 24px;
    &:last-child {
      border-right: none;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}
.auction-mobile-container{
  padding: 15px;
  .auction-mobile-section{
    .art-title{
      margin-top: 5px;
      margin-bottom: 5px;
    }
    margin-top: 25px;
  }
}
@media (min-width: 770px) and (max-width: 1080px) {
  .view-on-container{
    display: flex;
    margin-top: 15px;
    flex: 100%;
    max-width: 100%;
  }
  .bid-info-container{
    flex-direction: column;
    align-items: center;
  }
  .actions-place-bid{
    display: flex;
    margin-top: 15px;
    flex: 100%;
    max-width: 100%;
  }
}
.info-view-container {
   display: flex;
  justify-content: flex-end;
  .info-view {
    button.tag {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
h6.info-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.7;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.bids-lists{
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  @media (max-width: @screen-sm-min) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about-nft-collection {
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.a-description {
  font-size: 18px;
  line-height: 24px;
  white-space: break-spaces;
}

.a-attributes{
  .ant-card{
    background-color: transparent;
    .ant-card-head{
      color: white;
    }
  }
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  max-height: 32px;
  background: #031d44;
  border-radius: 20px;
  margin: 0 5px;
  border-color: transparent;

  @media (max-width: @mobile-xs-max) {
    border-color: @grey-50;
    margin: 0 8px 0 0;
  }
}

.pr-4 {
  padding-right: 32px;
}

.ant-carousel .slick-list .slick-slide.slick-active {
  max-width: 500px;
}
.artwork-image-lg {
  display: flex;
  // width: 70%;
  margin: auto;
  max-height: 100%;
  border-radius: 10px;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.ant-carousel {
  padding-bottom: 32px;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bid-history {
  width: 100%;
  position: relative;
  height: 64px;
  align-items: center;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.1);

  .create-statistic .ant-statistic-content {
    line-height: 22px;
  }
  .ant-statistic-content-value {
    font-size: 16px;
    line-height: 25px;
    margin: auto;
  }
  .ant-statistic-content-prefix {
    line-height: 16px;
  }
  .usd {
    display: flex;
    align-items: flex-end;
    padding: 0;
    min-height: 0;
    margin-left: 6px;
  }
}

.mobile-bid-history{
  display: flex;
  align-items: center;
  .ant-statistic-content-value,.ant-statistic-content{
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
  }
  .bid-info-container{
    .bidder-info-container{
      display: flex;
    }
    flex: auto;
    .usd{
      margin-left: 15px;
    }
  }
}

@media (min-width: 1380px) {
  .img-cont-500{
    max-width: 550px;
  }
}

.auction-art-edition {
  font-weight: 600;
  font-size: 1.3rem;
  color: #fff;
}

.auction-paragraph {
  margin-top: 0;
  margin-bottom: 1em;
  color: #858585;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 0.9rem;
}
