.auction-container {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  margin: 30px 0;
  max-width: 100%;

  .sol-input-bid {
    width: 100%;
    height: 56px;
    background: #393939;
    border-radius: 5px;
    border: 1px solid @metaplex-primary-color;
  }
  .ant-input-number-handler-wrap {
    display: none;
  }
  .time-info {
    padding: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > span {
      font-weight: 600;
      font-size: 18px;
      line-height: 18px;
      margin-right: 10px;
    }
  }
  .bid-info {
    .bid-info-container {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      @media (max-width: @screen-sm-min) {
        flex-direction: column;
      }
      .show-place-bid{
        flex-grow: 1;
        margin-left: 30px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        padding-left: 30px;
        @media (max-width: @screen-sm-min) {
          margin-left: 0;
          border-left: none;
          padding-left: 0;
        }
      }
      .actions-place-bid{
        display: flex;
        align-items: center;
        @media (max-width: @screen-sm-min) {
          button{
            flex: 1;
          }
        }
      }
    }
    padding: 24px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;

    .create-statistic .ant-statistic-title {
      margin: 0 0 10px 0;
      letter-spacing: 0.02em;
    }
    .create-statistic .ant-statistic-content {
      line-height: 36px;
      margin-right: 6px;
    }
    .ant-statistic-content-prefix {
      line-height: 32px;
    }
    .how-auctions-work {
      font-weight: 600;
      letter-spacing: -0.02em;
      color: rgb(255, 255, 255);
      height: fit-content;
      border: none;
    }
  }
}

.ant-modal-body {
  border-radius: 12px 12px 0 0;
  background: #031d44;
}

.ant-modal-content {
  background-color: #031d44;
}

.ant-modal-footer {
  border-radius: 0 0 12px 12px;
  background: #031d44;
  border: none;

  .ant-btn:not(.ant-btn-primary){
    border: none;
    color: white;
    border-radius: 5px;

    &:hover {
      border: 1px solid white;
    }
  }

  .ant-btn-primary {
     background: linear-gradient(180deg, #00b1ff 0%, #009ade 100%);
     border-radius: 5px;

      &:hover, &:focus {
      background: transparent;
      border-color: #FFFFFF;
      color: #FFFFFF;
    }
  }
}

.ant-card-body {
  padding: 12px;
}

.cd-number {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
  // letter-spacing: 3px;
}

.cd-label {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  line-height: 44px;
}

.modal-title {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;

  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.overlay-btn {
  background: #5626BA;
  border-radius: 5px;
  width: 200px;
  font-size: 2rem;
  height: auto;

  &:hover {
    background: #a99ac7;
    color: #5300ff;
  }
}

@media (max-width: 768px) {
  .auction-container {
    max-width: 100%;
    margin: 10px 0;
  }
}

.bid-container{
  display: flex;
  @media(max-width: 768px){
    flex-direction: column;
  }

  .bid-buttons{
    display: flex;
    @media(max-width: 768px){
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
    }
  }
}
